@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.dropdown-menu{
  display: none;
}
.dropdown:focus .dropdown-menu{
  position: relative;
  display: block;
}
@media (min-width:992px) {
    .dropdown-menu{
    display: none;
  }
    .dropdown:hover .dropdown-menu{
    display: block !important;
  }
}
@media (max-width:959px) {
  
    .navbar-res {
        height: 400px;
        overflow-y: auto;
    }
}
/* dropdown show */
.dropdown-menu {
   -webkit-animation: DropDownSlide !important;
           animation: DropDownSlide !important;
   -webkit-animation-duration: .3s !important;
           animation-duration: .3s !important;
   -webkit-animation-fill-mode: both !important;
           animation-fill-mode: both !important;
}
@-webkit-keyframes DropDownSlide {
   100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
   }
   0% {
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
   }
}
@keyframes DropDownSlide {
   100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
   }
   0% {
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
   }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}